html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 1.6rem;
  color: #333;
}

footer {
  color: #333;
  font-size: 1.2rem;
}

/*cria um Círculo*/
#grafico-01 {
  background-color: brown;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

#grafico-01 img {
  width: 100%;
}

#grafico-02 {
  background-color: transparent;
  border-style: solid;
  border-width: 60px 0 260px 120px;
  border-color: transparent transparent transparent rgb(18, 22, 240);
  width: 60px;
}

#imagemvetorial {
  width: 200px;
}

#canvas {
  height: 300px;
  width: 300px;
}

/* FIltros */

#grafico-01 {
  filter: drop-shadow(8px px 10px #333);
  max-width: 100%;
  height: auto;
}

.filtro {
  filter: grayscale(100%); /*escala de cinza */
  filter: sepia(100%); /*Efeito Sépia*/
  filter: blur(5px); /* Desfoquq*/
  filter: brightness(50%); /* Brilho 100%=normal*/
  filter: invert(100%); /*inversão de cores*/
  filter: opacity(50%);
  filter: saturate(120%) sepia(100%); /*COmbina filtros separados por espaço */
}

.filtro:hover {
  filter: sepia(0%);
  filter: blur(5px);
}

.coluna {
  display: block;
  width: 50%;
  float: left;
  padding: 5px;
  background: #eee;
  border: 1px solid #333;
}

.coluna03 {
  columns: 100px 2;
  width: 50%;
}

.coluna-100w {
  width: 100%;
}

iframe {
  width: 100%;
}

/*Mobile First */

/* tablet */
@media (max-width: 768px) {
  nav {
    width: 30%;
  }

  article {
    width: 70vw;
  }

  .coluna {
    width: 50vw;
    min-width: unset;
  }
}

/* Smartphone */
@media (max-width: 425px) {
  nav,
  article,
  .coluna {
    width: 100%;
    min-width: 320px;
  }
}
